header {
    margin-left: 1em;
}

main {
    margin-left: 3em;
}

p {
    margin-bottom: 2.5em;
}

li:last-child {
    margin-bottom: 1em;
}

.speaker {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-weight: bold;
}

.speech {
    list-style-type: none;
    font-weight: 100;
    padding-top: 0.3em;
}

#first {
    font-style: italic;
    font-weight: 100;
    margin-bottom: 1em;
}