body {
    padding-left: 50px;
    padding-right: 50px;
}

h2 {
    margin-top: 40px;
}

h3 {
    margin-bottom: -10px;
}

p {
    max-width: 650px;
}

li {
    margin-bottom: 10px;
}

img {
    max-width: 300px;
}